@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@{
    ViewData["Title"] = "Sign-In";
}

<link rel="stylesheet" href="~/css/sign-in.css" />
<script src="~/js/sign-in/login.js"></script>

<form id="formbefore" class="col-xl-7 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
    <div class="row ml-1 formContainer">
        <div class="col-4 pt-4 form-left-content">
            <label class="h4 text-light">Digital MarketApp</label>
            <div class="w-100"></div>
            <label class="text-light">@localizer["LeftDescription"]</label>
            <div class="w-100"></div>
            <div class="">
                <div class="">
                </div>
            </div>
        </div>
        <div class="col p-4">
            <p class="h4 mb-4 p-r2 text">@localizer["LoginTitle"]</p>

            <div class="form-group">
                <label for="login"
                       class="float-left text">
                    @localizer["LoginPlaceholder"]
                </label>
                <input 
                       id="username"
                       type="text"
                       formControlName="username"
                       class="form-control"
                       placeholder="@localizer["LoginPlaceholder"]">
            </div>

            <div class="form-group">
                <label for="password"
                       class="float-left text">
                    @localizer["PasswordPlaceholder"]
                </label>
                <input 
                       id="password"
                       type="password"
                       formControlName="password"
                       class="form-control"
                       placeholder="@localizer["PasswordPlaceholder"]">
            </div>
            <div id="errorsBlock" class="form-group">
            </div>
            <div class="form-group">
                <button 
                        id="submit"
                        onclick="login()"
                        type="button" 
                        class="btn btn-success w-50">
                    @localizer["LoginButton"]
                </button>
                <div class="w-100"></div>
                <a asp-controller="SignIn"
                   asp-action="Forgot-Password"
                   class="linked-text">
                    @localizer["ForgotPasswordLink"]
                </a>
                <a asp-controller="SignIn"
                   asp-action="Registry"
                   class="linked-text">
                    @localizer["RegistryLink"]
                </a>
            </div>
        </div>
    </div>
</form>